.header {
  padding: 30px;
  text-align: center;
  background: rgb(213, 27, 213);
  color: black;
  border: 4mm ridge rgba(211, 220, 50, .6);
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(25, 206, 25);
  border: 4mm ridge rgba(211, 220, 50, .6);
}

/* nav bar links */
.navbar a {
  float: left;
  display: block;
  color: black; /* text color */
  text-align: center; /* center the text */
  padding: 14px 20px; /* add some padding */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  color: rgb(88, 215, 219); /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 10%; /* Set the width of the sidebar */
  background-color: rgba(28, 179, 91, 0.604);
  padding: 20px; /* Some padding */
  border: 4mm ridge rgba(211, 220, 50, .6);
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: rgba(20, 166, 192, 0.314); /* White background color */
  padding: 20px; /* Some padding */
  border: 4mm ridge rgba(211, 220, 50, .6);
}

.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: rgb(25, 206, 25); /* Grey background */
    border: 4mm ridge rgba(211, 220, 50, .6);
  }

  .br {margin-bottom: 358em}